<!DOCTYPE html>
<body lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-blue">
  <h1>Welcome To Travel Expense Estimator</h1>
</div>

<img src="/static/python.png" style="width:25">

<div class="w3-container w3-yellow">
<br>
<br>
<p><center>The following site helps you to estimate your travel expenses.  These expenses include<br>
Air Travel, Hotel, Rental Car, Automobile Fuel, Food, and Entertainment.<br>
Please, register with our site in order to begin using our free service.<br>
Once, you have registered you can begin to use the application to estimate your travel costs.<br>
Once, you have completed filling out the form an estimate of your travel expenses will be sent<br>
to the e-mail address that you used when you registered with our site.  This site has been created<br>
using the Python Django web framework.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>
</p>
</div>











<div class="w3-container w3-blue">
  <h5>

  </h5>
  <p><center>Gil Rael & Associates Python Django Application Development</center></p>
</div>
</head>
</body>
</html>