<!DOCTYPE html>
<body lang="en">
<head>
<!--<link rel="stylesheet" type="text/css" href="/static/css/my_site_style.css">-->
    <meta charset="UTF-8">
    <title>Travel Expense Estimator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
</style>

<body>

<div class="w3-container w3-blue">
  <h1>Welcome To Travel Expense Estimator</h1><img src="/static/images/hot_air_balloon.png" style="width:50px;height:50px;">
</div>

<!--<img src="/static/python.png" style="width:25">-->

<div class="w3-container w3-yellow">
<img src="/static/python_django_gil.png" style="width:25" align="right">

<br>
<h3>
<p><a href="http://localhost:8000/" target="_blank">About</a>   <a href="http://localhost:8000/account/register" target="_blank">Register</a>    <a href="http://localhost:8000/account/login/"target="_blank" >Login</a>                                                 </p>
</h3>
<img src="/static/sunsetbeach.png" style="width:25" align="left">
<br>
<br>
<br>
<br>
<br>
<p><center>The following web application helps you to estimate your travel expenses.  These expenses include:<br>
<ul>
    <li>Air Travel & Lodging</li>
    <li>Rental Car & Automobile Fuel</li>
    <li>Meals,Tips & Entertainment</li>
</ul>

<br>
Please, register with our site in order to begin using our free service.  Once, you have registered<br>
you can begin to use the application to estimate your travel expenses. Once, you have completed filling<br>
out the expense form an estimate of your travel expenses will be sent to the e-mail address<br>
that you provided when you registered with our site.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>
<img src="/static/travel_banner_one.png" style="width:1260px;height:125px;">
</p>
</div>











<div class="w3-container w3-blue">
  <h5>

  </h5>
  <p><center>Web Design & Application Development By - Gil Rael & Associates LLC<br>
This web application has been created using the Python Django web framework.</center></p>
</div>
</head>
</body>
</html>