<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
</style>

</head>
<body>

<div class="w3-container w3-blue">
  <h1>Welcome To Travel Expense Estimator</h1><img src="/static/images/hot_air_balloon.png" style="width:50px;height:50px;">
</div>

<!--<img src="/static/python.png" style="width:25">-->

<div class="w3-container w3-yellow">
<img src="/static/images/python_django_gil.png" style="width:25" align="right">

<br>
<h3>
<p><a href="http://localhost:8000/" target="_blank">About</a>   <a href="http://localhost:8000/account/register" target="_blank">Register</a>    <a href="http://localhost:8000/account/login/"target="_blank" >Login</a>                                                 </p>
</h3>
<img src="/static/images/sunsetbeach.png" style="width:25" align="left">
<br>
<br>
<br>
<br>
<br>
<br>
<form method="post" action=".">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Log In"/>
    <input type="hidden" name="next" value="{{next}}"/>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>
<img src="/static/images/travel_banner_one.png" style="width:1260px;height:125px;">
</p>
</div>











<div class="w3-container w3-blue">
  <h5>

  </h5>
  <p><center>Web Design & Application Development By - Gil Rael & Associates LLC<br>
This web application has been created using the Python Django web framework.</center></p>
</div>
</head>
</body>
</html>

